.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 2rem;
}

.spinner {
  position: relative;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #61dafb;
  animation: spin 1s linear infinite;
}

.spinner.small {
  width: 30px;
  height: 30px;
  border-width: 2px;
}

.spinner.medium {
  width: 50px;
  height: 50px;
  border-width: 3px;
}

.spinner.large {
  width: 70px;
  height: 70px;
  border-width: 4px;
}

.spinner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #61dafb;
  animation: spin 0.8s linear infinite reverse;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-message {
  margin-top: 1rem;
  color: #666;
  font-size: 0.9rem;
  text-align: center;
}
